.rooms-list a:hover{
    text-decoration: none;
}
.rooms-list h1 {
    margin-bottom: 20px;
}
.rooms-list h5 {
    color: #333;
}
.rooms-list .card {
    margin-bottom: 40px;
    border: 2px solid #6d4f9b;
}
.rooms-list .room-link-active {
    cursor: pointer;
}
.rooms-list .room-user-active .card{
    border: 2px solid #09c;
}

.rooms-list-block {
    margin-top: 20px;
}

.link-create-room {
    padding: 10px 20px;
    border: 2px solid #6d4f9b;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #6d4f9b;
}
    .link-create-room:hover {
        background: #6d4f9b;
        color: #fff;
    }